/* TabBar.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    font-size: 60px;
  }
  
  .tab-bar {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 30px;
    height: 60px;
    padding-bottom: 10px;

  }
  
  .tab-link {
    text-decoration: none;
    color: #000;
    padding: 40px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 50;
    font-family: "Herr Von Muellerhoff";
    outline: none; /* Remove outline */
    border: none; 
    background-color: transparent;
    margin-bottom: 50px;
  }
  
  .tab-image {
    display: flex;
    align-items: center;
    padding-left: 100x; /* Adjust the padding as needed */
    padding-bottom: 20px;
  }

  .tab-link:hover {
    background-color: #ddd;
    
  }
  .tab-image img {
    padding-right: 190px;
    padding-left: 40px;
    height: 80px; /* Set the height of the image to 100% of the container */
    width: auto; /* Allow the width to adjust proportionally */
  }

  .PhoneNumber {
    text-decoration: none;
    color: #000;
    padding: 40px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-family: "Herr Von Muellerhoff";
    color: black;
    font-size: 18px;
    display: flex;
    padding-bottom: 20px;
  }

  .PhoneIcon {
    padding-top: 30px;
    text-decoration: none;
    color: #000;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    padding-left: 150px;
    display: flex;

  }